p{
    font-size: 125%;
    font-family: Courier New;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;

  }
  #c{
   font-size: 100%;
    font-family: Courier New;
    border: 1px solid grey;

  }

  #opredV{
    border: 1px solid grey;
    padding: 10px;
    font-size: 120%;
    font-family: Courier New;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
  }
  #oprednj{
    border: 1px solid grey;
    padding: 10px;
    font-size: 120%;
    font-family: Courier New;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
  }
  #opredcript{
    border: 1px solid grey;
    padding: 10px;
    font-size: 120%;
    font-family: Courier New;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
  }

  #opredPN{
   border: 1px solid grey;
    padding: 10px;
    font-size: 120%;
    font-family: Courier New;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
  }
  
  #opredsql{
   border: 1px solid grey;
    padding: 10px;
    font-size: 120%;
    font-family: Courier New;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
  }

  #opredxxs{
   border: 1px solid grey;
   padding: 10px;
   font-size: 120%;
   font-family: Courier New;
   text-align: center;
   margin-left: 50px;
   margin-right: 50px;
  }

  #opredsvg{
   border: 1px solid grey;
   padding: 10px;
   font-size: 120%;
   font-family: Courier New;
   text-align: center;
   margin-left: 50px;
   margin-right: 50px;
  }

  #opredetc{
   border: 1px solid grey;
   padding: 10px;
   font-size: 120%;
   font-family: Courier New;
   text-align: center;
   margin-left: 50px;
   margin-right: 50px;
  }

  #opredVC{
   border: 1px solid grey;
   padding: 10px;
   font-size: 120%;
   font-family: Courier New;
   text-align: center;
   margin-left: 50px;
   margin-right: 50px;
  }
  
  #opredSQRL{
   border: 1px solid grey;
   padding: 10px;
   font-size: 120%;
   font-family: Courier New;
   text-align: center;
   margin-left: 50px;
   margin-right: 50px;
  }

  #XPh{
   border: 1px solid grey;
   padding: 10px;
   font-size: 120%;
   font-family: Courier New;
   text-align: center;
   margin-left: 50px;
   margin-right: 50px;
  }

  #opredQRGEN{
    border: 1px solid grey;
    padding: 10px;
    font-size: 120%;
    font-family: Courier New;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
  }

  #oprednachWC{
    border: 1px solid grey;
    padding: 10px;
    font-size: 120%;
    font-family: Courier New;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
  }

  #opredBaD{
    border: 1px solid grey;
    padding: 10px;
    font-size: 120%;
    font-family: Courier New;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
  }

  #opredEtBl{
    border: 1px solid grey;
    padding: 10px;
    font-size: 120%;
    font-family: Courier New;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
  }
  #opredSMB{
    border: 1px solid grey;
    padding: 10px;
    font-size: 120%;
    font-family: Courier New;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
  }

  #Dvss{
    border: 1px solid grey;
    padding: 10px;
    font-size: 120%;
    font-family: Courier New;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
  }

  #Ss100{
    border: 1px solid grey;
    padding: 10px;
    font-size: 120%;
    font-family: Courier New;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
  }

 ul{
   margin-left: 10%;
   text-align: left;
   font-family: 'Courier New';
   font-size: 120%;
 }

 #l1{
   margin-left: 2%;
   text-align: left;
   font-family: 'Courier New';
   font-size: 120%;
 }
 
 ol{
   margin-left: 10%;
    text-align: left;
    font-family: 'Courier New';
    font-size: 130%;
 }



